<div style="text-align: center">

  <div *ngIf="isShowInitial">
    <h1>Are you sure you want to start editing</h1>
    <button (click)="initialfunc()">YES</button>
  </div>

  <div *ngIf="isShowNoContent">
    <h1>You are not the organizer of any Tournament</h1>
  </div>

  <div *ngIf="isShowContent">
    <div>
      <h2>Edit Tournament Name</h2>
      <div>
        <label>Tournament </label>
        <select [(ngModel)]="idEditName">
          <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
        </select>
        <br>
        <label>New name </label>
        <input [(ngModel)]="editNameValue.name">
      </div>
      <button (click)="EditName(idEditName)">Change Name</button>
      <div *ngIf="isShowEditName">
        <h3>The name of the tournament has been changed</h3>
      </div>
    </div>

    <br><br>

    <div>
      <h2>Edit Tournament Sports Facility</h2>
      <div>
        <label>Tournament </label>
        <select [(ngModel)]="idEditSportsFacility">
          <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
        </select>
        <br>
        <label>Sports facility </label>
        <select [(ngModel)]="editSportsFacilityValue.sports_facility">
          <option *ngFor="let list of sportsFacilityList; let i = index" [value]="sportsFacilityList[i].id | json">{{sportsFacilityList[i].name}}</option>
        </select>
      </div>
      <button (click)="EditSportFacility(idEditSportsFacility)">Change Sport Facility</button>
      <div *ngIf="isShowEditSportsFacility">
        <h3>The sports facility of the tournament has been changed</h3>
      </div>
    </div>

    <br><br>

    <div>
      <h2>Edit Tournament Sport Type</h2>
      <div>
        <label>Tournament </label>
        <select [(ngModel)]="idEditSportType">
          <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
        </select>
        <br>
        <label>Sport type </label>
        <select [(ngModel)]="editSportTypeValue.sport_type">
          <option *ngFor="let list of sportTypesList; let i = index" [value]="sportTypesList[i].id | json">{{sportTypesList[i].name}}</option>
        </select>
      </div>
      <button (click)="EditSportType(idEditSportType)">Change Sport Type</button>
      <div *ngIf="isShowEditSportType">
        <h3>The sport type of the tournament has been changed</h3>
      </div>
    </div>

    <br><br>

    <div>
      <h2>Edit Tournament Date</h2>
      <div>
        <label>Tournament </label>
        <select [(ngModel)]="idEditDate">
          <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
        </select>
        <br>
        <label>New start date </label>
        <input type="datetime-local" [(ngModel)]="editDateValue.start_date">
        <br>
        <label>New end date </label>
        <input type="datetime-local" [(ngModel)]="editDateValue.end_date">
      </div>
      <button (click)="EditDate(idEditDate)">Change Date</button>
      <div *ngIf="isShowEditDate">
        <h3>The date of the tournament has been changed</h3>
      </div>
    </div>
  </div>
</div>
