<div style="text-align: center">

  <div *ngIf="isShowInitial">
    <h1>You want to add or remove a team from the tournament</h1>
    <button (click)="showAdd()">Add</button>
    <button (click)="showRemove()">Remove</button>
  </div>

  <div *ngIf="isShowNoContent">
    <h1>You are not the organizer of any Tournament</h1>
  </div>

  <div *ngIf="isShowContent">
    <div *ngIf="isShowADD">
      <div>
        <h2>Add Team to the Tournament</h2>
        <div>
          <label>Tournament </label>
          <select [(ngModel)]="id">
            <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
          </select>
          <br>
          <label>Team </label>
          <select [(ngModel)]="idTeam">
            <option *ngFor="let lista of teamslist; let i = index" [value]="teamslist[i].id | json">{{teamslist[i].name}}</option>
          </select>
        </div>
        <button (click)="addTeam(id)">Add Team</button>
      </div>
      <br>
      <div *ngIf="isShowAddConfirmation">
        <h3>The team has been added to the tournament</h3>
      </div>
    </div>

    <br><br>

    <div *ngIf="isShowRemove">
      <h2>Remove Team from the Tournament</h2>
      <div>
        <div>
          <label>Tournament </label>
          <select [(ngModel)]="idRemove">
            <option *ngFor="let list of tournamentsList2; let i = index" [value]="tournamentsList2[i].id | json">{{tournamentsList2[i].name}}</option>
          </select>
          <br>
          <label>Team </label>
          <select [(ngModel)]="idTeamRemove">
            <option *ngFor="let lista of teamslist; let i = index" [value]="teamslist[i].id | json">{{teamslist[i].name}}</option>
          </select>
        </div>
        <button (click)="deleteTeam(idRemove)">Remove Team</button>
        <div *ngIf="isShowRemoveConfirmation">
          <h3>The team has been removed from the tournament</h3>
        </div>
      </div>
    </div>
  </div>

</div>
