<div style="text-align: center">

  <div *ngIf="isShowInitial">
    <h1>Are you sure you want to invite someone to the Pick-up game</h1>
    <button (click)="initialfunc()">YES</button>
  </div>

  <div *ngIf="isShowNoContent">
    <h1>You are not the organizer of any Pick-up game</h1>
  </div>

  <div *ngIf="isShowContent">
    <h2>Invite user to Pick-up Game</h2>
    <div>
      <label>Pick-up Game </label>
      <select [(ngModel)]="addUser.pick_up_game">
        <option *ngFor="let list of pickupList2; let i = index" [value]="pickupList2[i].id | json">{{pickupList2[i].name}}</option>
      </select>
      <br>
      <label>Username </label>
      <select [(ngModel)]="addUser.m_user">
        <option *ngFor="let list of mUserList; let i = index" [value]="mUserList[i].id | json">{{mUserList[i].usersPermissionsUser.username}}</option>
      </select>
    </div>
    <button (click)="addUserEvent()">Invite</button>
    <div *ngIf="isShowAdd">
      <h3>The user has been invited to the Pick-up Game</h3>
    </div>
  </div>
</div>
