<div style="text-align: center">
  <h1>Create new Tournament</h1>
  <div>
    <div>
      <label>Organizer: </label>
      <input [(ngModel)]="tournament.organizer">
      <!--<select [(ngModel)]="tournament.organizer">
        <option *ngFor="let list of userPermUserList; let i = index" [value]="userPermUserList[i].id| json">{{userPermUserList[i].username}}</option>
      </select>-->
      <br>
      <label>Sports Facility: </label>
      <select [(ngModel)]="tournament.sports_facility">
        <option *ngFor="let list of sportsFacilityList; let i = index" [value]="sportsFacilityList[i].id | json">{{sportsFacilityList[i].name}}</option>
      </select>
      <br>
      <label>Sport Type: </label>
      <select [(ngModel)]="tournament.sport_type">
        <option *ngFor="let list of sportTypesList; let i = index" [value]="sportTypesList[i].id | json">{{sportTypesList[i].name}}</option>
      </select>
      <br>
      <label>Tournament Name: </label>
      <input [(ngModel)]="tournament.name">
      <br>
      <label>Start Date: </label>
      <input [(ngModel)]="tournament.start_date" type="datetime-local">
      <br>
      <label>End Date: </label>
      <input [(ngModel)]="tournament.end_date" type="datetime-local">
    </div>
    <button (click)="createTournament()">Create</button>
    <div *ngIf="isShow">
      <h3>The new tournament has been created</h3>
    </div>
  </div>
</div>
