<!--
<div style="text-align: center">

  <div *ngIf="isLoggedIn; else loggedOut">
    You are logged in.
    <button (click)="logout()">Logout</button>
  </div>

  <ng-template #loggedOut>

    <form #loginForm ="ngForm"  class="mForm">
      {{user|json}}<br>
      <label for="email">Email</label><br>
      <input id="email" name="email" type="email"  [(ngModel)]="user.email" required><br>
      <label for="password">Password</label><br>
      <input id="password" name="password" type="password"  [(ngModel)]="user.password" required><br>
      <button type="button"  value="Login" (click)="onSubmit()" >Login</button>
    </form>


  </ng-template>


</div>
-->

<div *ngIf="isLoggedIn; else loggedOut">
  You are logged in.
  <button (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>

<div class="header center">Log In to use all website functions</div>

<form [formGroup]="loginForm" (ngSubmit)="login()" class="mWindow mForm">
  <!--
    <mat-form-field>
      <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOG IN</button>
    </div>
  -->



  <div>
    <label>Email</label>
    <input type="email" formControlName="email">
  </div>
  <div>
    <label>Password</label>
    <input type="password" formControlName="password">
  </div>
  <div>
  <a  [routerLink]="['/register']" class="nav-link">Click to Sign-up </a>
  </div>
  <div>
    <span>{{error}}</span>
    <button type="submit">Login</button>

  </div>



</form>
</ng-template>
