<div style="text-align: center; margin-top: 10%" class="mWindow">

  <div *ngIf="isShowNoContent">
    <h2>Show User Details</h2>
    <button (click)="showContent()">Show Details</button>
  </div>

  <div *ngIf="isShowContent">

    <div>

      <h2>Username: </h2>
      <h3>{{userMe.username}}</h3>
      <br>
      <h2>Name: </h2>
      <h3>{{mUser.firstName}}  {{mUser.secondName}}</h3>
      <br>
      <h2>Lastname: </h2>
      <h3>{{mUser.lastName}}</h3>
      <br>
      <h2>Email: </h2>
        <h3>{{userMe.email}}</h3>
      <br>
      <h2>My teams: </h2>
      <div *ngFor="let list of mUser.teams; let i = index">
        <h3>{{mUser.teams[i].name}}</h3>
      </div>
      <h2>Date of account creation: </h2>
          <h3>{{(mUser.created_at).substr(0,10)}}</h3>

    </div>

    <button [routerLink]="['/edit-user-data']">Edit details</button>
  </div>

  <button [routerLink]="['/home']">Main Menu</button>
  <button (click)="logout()">Logout</button>

</div>
