<header class="header">
  <nav class="navbar">
    <a [routerLink]="['/home']" class="nav-logo">Meczyq</a>
    <div class="hideMenuToggle" >
      <button (click)="onMenuToggle()" >Menu</button>
    </div>
    <ul class="nav-menu "   [ngClass]="isMenuVisible ? '' : 'hidden'">
      <li class="nav-item">
        <a  [routerLink]="['/user-data']" class="nav-link">User</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/main-teams']" class="nav-link">Teams</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/main-tournaments']" class="nav-link">Tournaments</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/main-pick-up-game']" class="nav-link">Pick-up Games</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/main-sports-facility']" class="nav-link">Sports Facilities</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/main-sport-types']" class="nav-link">Sports Types</a>
      </li>
      <li class="nav-item">
        {{this.email}}
      </li>


    </ul>

  </nav>
</header>

<section class="content">




<router-outlet></router-outlet>
</section>
