

<div *ngIf="isLoggedIn; else loggedOut">
  You are logged in.
  <button (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>

  <div class="header center">Register to use all website functions</div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="mWindow mForm">




    <div>
      <label>Email</label>
      <input type="email" formControlName="email">
    </div>
    <div>
      <label>Username</label>
      <input type="text" formControlName="username">
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password">
    </div>
    <div>
      <a  [routerLink]="['/login']" class="nav-link">Click to Login </a>
    </div>
    <div>
      <span>{{error}}</span>
      <button type="submit">Register</button>
    </div>

  </form>
</ng-template>
