<div style="text-align: center" class="mWindow">
  <h1>Main Menu</h1>
  <button [routerLink]="['/user-data']">User</button>
  <br>
  <button [routerLink]="['/main-teams']">Teams</button>
  <br>
  <button [routerLink]="['/main-tournaments']">Tournaments</button>
  <br>
  <button [routerLink]="['/main-pick-up-game']">Pick-up Games</button>
  <br>
  <button [routerLink]="['/main-sports-facility']">Sports Facilities</button>
  <br>
  <button [routerLink]="['/main-sport-types']">Sports Types</button>
</div>
