<div style="text-align: center" class="mWindow">
  <div *ngIf="isShowInitial">
    <h1>Are you sure you want to start editing</h1>
    <button (click)="initialfunc()">YES</button>
  </div>

  <div *ngIf="isShowNoContent">
    <h1>You are not the captain of any team</h1>
  </div>

  <div *ngIf="isShowContent">
    <h2>Edit Team Name</h2>
    <div>
      <label>Old Name </label>
      <select [(ngModel)]="idName">
        <option *ngFor="let list of teamsList2; let i = index" [value]="teamsList2[i].id | json">{{teamsList2[i].name}}</option>
      </select>
      <br>
      <label>New name </label>
      <input [(ngModel)]="editNameValue.name">
    </div>
    <br>
    <button (click)="editName(idName)">Change Name</button>
    <br>
    <div *ngIf="isShow">
      <h3>The team name has been changed</h3>
    </div>
  </div>
  <button [routerLink]="['/main-teams']">Back to Teams</button>
  <button [routerLink]="['/home']">Main Menu</button>
</div>
