<div style="text-align: center">
  <h2>Display Team Details</h2>
  <div>
    <label>Team </label>
    <select [(ngModel)]="id">
      <option *ngFor="let list of teamList; let i = index" [value]="teamList[i].id | json">{{teamList[i].name}}</option>
    </select>
  </div>
  <button (click)="teamInfo(id)">Show details</button>
  <div *ngIf="isShow">
    <table style="width:50%; text-align: center">
      <tr>
        <td>Name</td>
        <td>Capitan</td>
        <td>Members</td>
      </tr>
      <tr>
        <td>{{teamId.name}}</td>
        <td>{{teamId.owner.Name}}</td>
        <td *ngFor="let member of teamId.team_users; let i = index">{{teamId.team_users[i].mUser}}</td>
      </tr>
    </table>
  </div>

</div>
