<div style="text-align: center" class="mWindow">
  <h2>Display Team Details</h2>
  <div>
    <label>Team </label>
    <select [(ngModel)]="id">
      <option *ngFor="let list of teamList; let i = index" [value]="teamList[i].id | json">{{teamList[i].name}}</option>
    </select>
  </div>
  <br>
  <button (click)="teamInfo(id)">Show details</button>
  <div *ngIf="isShow" style="text-align: center; width: 100%">
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Capitan</td>
          <td>Members</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{teamId.name}}</td>
          <td>{{teamId.owner.firstName}}  {{teamId.owner.lastName}}</td>
          <td>{{teamId.team_users.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<br>
  <div>
    <h2>Members list</h2>
    <div *ngFor="let list of usernameList; let i = index">
      {{usernameList[i]}}
    </div>
  </div>
  <br>
  <button [routerLink]="['/main-teams']">Back to Teams</button>
  <button [routerLink]="['/home']">Main Menu</button>
</div>
