<div style="text-align: center" class="mWindow">
  <div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="newPickUpGame.name">
      <br>
      <label>Sports Facility: </label>
      <select [(ngModel)]="newPickUpGame.sports_facility.id">
        <option *ngFor="let list of sportsFacilityList; let i = index" [value]="sportsFacilityList[i].id | json">{{sportsFacilityList[i].name}}</option>
      </select>
      <br>
      <label>Sport Type: </label>
      <select [(ngModel)]="newPickUpGame.sport_type.id">
        <option *ngFor="let list of sportTypesList; let i = index" [value]="sportTypesList[i].id | json">{{sportTypesList[i].name}}</option>
      </select>

    </div>
    <button (click)="createPickUpgame()">Create</button>
    <div *ngIf="isShowSucces">
      <h3>The new pick-up game has been created</h3>
    </div>
    <div *ngIf="isShowFailName">
      <h3>The selected name is already taken</h3>
    </div>
    <div *ngIf="isShowFail">
      <h3>An error occured</h3>
    </div>
  </div>
  <button [routerLink]="['/main-pick-up-game']">Back to Pick-up Games</button>
  <button [routerLink]="['/home']">Main Menu</button>
</div>
